<a href="https://colab.research.google.com/github/Vnykm/GN22CDBDS001_2113702/blob/main/base_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a notebook that outputs a script that:

<SHOW RAW WORKING IN NOTEBOOK BEFORE USING %%writefile>


accepts a natural number N, such that N < 17
prints the first fifty elements in the base N 

example:
N = 2
0, 1, 10, 11, 100, 101, 110, 111, 1000.....

N = 10
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11

N = 16
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F, 10, ....

Program SHOULD not crash. Use exception handling.

In [3]:
def digit_to_char(digit):
    if digit < 10:
        return str(digit)
    return chr(ord('a') + digit - 10)

def str_base(number,base):
    if number < 0:
        return '-' + str_base(-number, base)
    (d, m) = divmod(number, base)
    if d > 0:
        return str_base(d, base) + digit_to_char(m)
    return digit_to_char(m)

def tobasen(n):
  res = []
  for x in range(0,50):
    res.append(str_base(x, n))
  return res

if __name__ == "__main__":
  try:
    N = int(input('Enter a Natural Number:'))
    if N>16:
      raise Exception("Number Greator than 17")
    baseNtillfifty = tobasen(N)
    print('First Fifty elements in base N={}:'.format(N))
    for i in baseNtillfifty:
      print(i, end=' ')
    print()
  except:
    print('Illegal Base')

Enter a Natural Number:14
First Fifty elements in base N=14:
0 1 2 3 4 5 6 7 8 9 a b c d 10 11 12 13 14 15 16 17 18 19 1a 1b 1c 1d 20 21 22 23 24 25 26 27 28 29 2a 2b 2c 2d 30 31 32 33 34 35 36 37

In [4]:
%%writefile -a basenfifty.py
def digit_to_char(digit):
    if digit < 10:
        return str(digit)
    return chr(ord('a') + digit - 10)

def str_base(number,base):
    if number < 0:
        return '-' + str_base(-number, base)
    (d, m) = divmod(number, base)
    if d > 0:
        return str_base(d, base) + digit_to_char(m)
    return digit_to_char(m)

def tobasen(n):
  res = []
  for x in range(0,50):
    res.append(str_base(x, n))
  return res

Writing basenfifty.py

In [5]:
!cat basenfifty.py

def digit_to_char(digit):
    if digit < 10:
        return str(digit)
    return chr(ord('a') + digit - 10)

def str_base(number,base):
    if number < 0:
        return '-' + str_base(-number, base)
    (d, m) = divmod(number, base)
    if d > 0:
        return str_base(d, base) + digit_to_char(m)
    return digit_to_char(m)

def tobasen(n):
  res = []
  for x in range(0,50):
    res.append(str_base(x, n))
  return res