<a href="https://colab.research.google.com/github/Vnykm/GN22CDBDS001_2113702/blob/main/truth_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python Notebook to assume a length N.
Generate the truth table of size N.
 
example:
N= 3
 
output:
000
001
010
011
100
101
110
111
 
Then convert this notebook into a python script that accepts N from user as input instead of assumption.

In [12]:
def truthtable(n):
  if n < 1:
    return [[]]
  subtable = truthtable(n-1)
  return [ row + [v] for row in subtable for v in [0,1] ]

In [15]:
n = int(input("Length: "))
print('Truth Table for Length {} :'.format(n))
table = truthtable(n)
table

Length: 3
Truth Table for Length 3 :

[[0, 0, 0],
 [0, 0, 1],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 1]]

In [16]:
n = int(input("Length: "))
print('Truth Table for Length {} :'.format(n))
table = list(itertools.product([0, 1], repeat=n))
table

Length: 4
Truth Table for Length 4 :

[(0, 0, 0, 0),
 (0, 0, 0, 1),
 (0, 0, 1, 0),
 (0, 0, 1, 1),
 (0, 1, 0, 0),
 (0, 1, 0, 1),
 (0, 1, 1, 0),
 (0, 1, 1, 1),
 (1, 0, 0, 0),
 (1, 0, 0, 1),
 (1, 0, 1, 0),
 (1, 0, 1, 1),
 (1, 1, 0, 0),
 (1, 1, 0, 1),
 (1, 1, 1, 0),
 (1, 1, 1, 1)]