<a href="https://colab.research.google.com/github/Vnykm/GN22CDBDS001_2113702/blob/main/truth_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python Notebook to assume a length N.
Generate the truth table of size N.
 
example:
N= 3
 
output:
000
001
010
011
100
101
110
111
 
Then convert this notebook into a python script that accepts N from user as input instead of assumption.

In [17]:
def truthtable(n):
  if n < 1:
    return [[]]
  subtable = truthtable(n-1)
  return [ row + [x] for row in subtable for x in [0,1] ]

In [15]:
n = int(input("Length: "))
print('Truth Table for Length {} :'.format(n))
table = truthtable(n)
table

Length: 3
Truth Table for Length 3 :

[[0, 0, 0],
 [0, 0, 1],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 1]]

In [19]:
def truthtable(n):
  if n < 1:
    return [[]]
  subtable = truthtable(n-1)
  return [ row + [x] for row in subtable for x in [0,1] ]

n = int(input("Length: "))
print('Truth Table for Length {} :'.format(n))
table = truthtable(n)
print(table)
%%writefile -a

UsageError: %%writefile is a cell magic, but the cell body is empty.